  <!-- Cabecera -->
  <div class="container">
    <h1 style="color: #303F9F;">
      <i class="pi pi-user" style="font-size: 2rem"></i>
      Buscar Cliente</h1>
    <hr class="my-4">
  </div>
  <!-- Cabecera -->



  <div class="container">
    <div class="row justify-content-center">
      <form (ngSubmit)='submit()'>
        <input name="nombre" type='text' [(ngModel)]="nombre">
        <input type='submit'>
      </form>
    </div>

    <div class="card" style="width: 30em;" *ngFor='let item of resultadoBusq'>
      <p class="row justify-content-center m-2" *ngIf="nombre == this.resultadoBusq[0].name"> <b>Nombre:</b>
        {{item.name}}</p>
      <a [hidden]='bRecarga' (click)="eliminar(this.resultadoBusq[0].id)" class="btn btn-danger my-1">Eliminar</a>
      <a [hidden]='bRecarga'[routerLink]="['editar', this.resultadoBusq[0].id]" class="btn btn-primary my-1">Editar</a>
    </div>

    <app-listado-categorias *ngIf="!bExito || nombre != this.resultadoBusq[0].name"></app-listado-categorias>
